## 30914_이준형_0326_4

In [17]:
print('1,2,3,4,5,6,7,9,10,11,12')

1,2,3,4,5,6,7,9,10,11,12

In [18]:
for i in range(1,13):
    if i == 8:
        continue
    print(i, end=' ')
print()

1 2 3 4 5 6 7 9 10 11 12

In [19]:
print('-' * 27)
for i in range(1, 10): #행 루프
    for j in range(1, 10): #열 루프
        print(f'{i * j:3}', end='')
        print()
print('-' * 27)

---------------------------
  1
  2
  3
  4
  5
  6
  7
  8
  9
  2
  4
  6
  8
 10
 12
 14
 16
 18
  3
  6
  9
 12
 15
 18
 21
 24
 27
  4
  8
 12
 16
 20
 24
 28
 32
 36
  5
 10
 15
 20
 25
 30
 35
 40
 45
  6
 12
 18
 24
 30
 36
 42
 48
 54
  7
 14
 21
 28
 35
 42
 49
 56
 63
  8
 16
 24
 32
 40
 48
 56
 64
 72
  9
 18
 27
 36
 45
 54
 63
 72
 81
---------------------------

In [23]:
print('왼쪽 아래가 직각인 이등변 삼각형을 출력합니다.')
n = int(input('짧은 변의 길이를 입력하세요.: '))
for i in range(n):
    for j in range(i+1):
        print(f'*',end='')
        print()

왼쪽 아래가 직각인 이등변 삼각형을 출력합니다.
짧은 변의 길이를 입력하세요.: 5
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*