In [6]:
print('학생 그룹 점수의 합계와 평균을 구합니다.')
a = int('input(1번 학생의 점수를 입력하세요.: '))
b = int('input(2번 학생의 점수를 입력하세요.: '))
c = int('input(3번 학생의 점수를 입력하세요.: '))
d = int('input(4번 학생의 점수를 입력하세요.: '))
e = int('input(5번 학생의 점수를 입력하세요.: '))

total = 0
total += a
total += b
total += c
total += d
total += e

print(f'합계는 {total}점입니다.')
print(f'평균은 {total /5}점입니다.')

SyntaxError: unmatched ')' (<ipython-input-6-0ed4c4bf3e36>, line 2)

- 배열 : 묶음 단위로 값을 저장하는 자료구조
- 원소 : 배율에 저장된 각 객체
- 각 원소는 0,1,------ 순서대로 인덱스(주소)를 부여받음
- 원소의 자료형은 intgud float형 어떤것도 상관없음
- 서로 다른 자료형을 같이 저장할 수 있음
- 배열 원소 자체를 배열에 저장할 수 있음

In [5]:
list01 = []
a = [1,2,3,4,5]
b = ['A','B','C',]

print(a)
print(b)

[1, 2, 3, 4, 5]
['A', 'B', 'C']

- 튜플
 - 원소에 순서를 매거 결합한 것으로 원소를
 변경할 수 없는 자료형
 - ()만 사용하면 빈 튜플 생성

In [7]:
tuple01 = ()
tuple02 = 1,2,3
tuple03 = 'A','B','C'

print(tuple01)
print(tuple02)
print(tuple03)

()
(1, 2, 3)
('A', 'B', 'C')

In [8]:
a = tuple(range(3,9))
print(a)

(3, 4, 5, 6, 7, 8)